<div class="activity-card nft">
  <div class="tx-icon">
    <img src="https://images.unstoppabledomains.com/images/icons/MATIC/icon.svg" alt="token" />
    <svg class="tx-direction-icon" viewBox="0 0 24 24">
      <path d="M2.01 21 23 12 2.01 3 2 10l15 2-15 2z"></path> <!-- SendIcon or SouthOutlinedIcon -->
    </svg>
  </div>
  <div class="tx-details">
    <span class="tx-title">Sent NFT</span>
    <span class="tx-subtitle">sigmasauer07.hub</span>
  </div>
  <div class="tx-nft-preview">
    <img src="https://i2.seadn.io/polygon/ae0e087b0b484b25a6b39f74bbad5cd5/42a50925ee231f6858bcc927c21f71/2b42a50925ee231f6858bcc927c21f71.png" alt="NFT preview" />
  </div>
</div>
