<div class="css-3idyoo-profilePicture">
  <div class="css-14j93uk-mainContainer">
    <div class="css-1q25x86-theCardHover">
      <div class="css-iamb74-theBack">
        <div class="css-1gk7ae0-round-profileQrCodeContainer">
          <div class="css-1c2bdhw-container">
            <canvas height="130" width="130"></canvas>
          </div>
        </div>
      </div>
      <div class="css-1c808z1-theFront">
        <div class="pfp css-8efa9w-round">
          <div class="MuiAvatar-root">D</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="css-c6lxu0-leftPanel">
  <div class="css-3idyoo-profilePicture">
    <div class="css-14j93uk-mainContainer">
      <div class="css-1q25x86-theCardHover">
        <div class="css-iamb74-theBack">
          <canvas id="react-qrcode-logo" height="130" width="130"></canvas>
        </div>
        <div class="css-1c808z1-theFront">
          <div class="pfp css-8efa9w-round">
            <div class="css-44cgy0-round">D</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="css-h5fkc8">
    <h4 class="css-1o8oltz-displayName">SigmaSauer07</h4>
  </div>
  <div class="css-1r8vbna-domainNameBox">
    <h5 class="css-1ct0z7l-domainName">sigmasauer07.hub</h5>
  </div>
</div>
<aside class="profile-card">
  <div class="avatar-wrapper">
    <div class="flip-card">
      <div class="back">
        <canvas id="react-qrcode-logo" width="130" height="130"></canvas>
      </div>
      <div class="front">
        <div class="pfp">
          <div class="avatar-text">D</div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="display-name">SigmaSauer07</h4>
  <h5 class="domain-name">sigmasauer07.hub</h5>
</aside>
