:root {
  --color-bg: #F5F5F5;
  --color-primary: #0D67FE;
  --color-link-hover: rgba(13, 103, 254, 0.4);
  --color-text: rgba(0,0,0,0.87);
  --radius-default: 8px;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--color-bg);
}
