.homeLink {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1rem;
  text-decoration: underline;
}
.homeLink:hover { text-decoration-color: var(--color-primary); }

.displayName {
  margin: 32px 0 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
}
@media (min-width: 600px) {
  .displayName { font-size: 1.8219rem; }
}
@media (min-width: 960px) {
  .displayName { font-size: 2.0243rem; }
}

.domainNameBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 960px) {
  .domainNameBox { justify-content: flex-start; }
}

.domainName {
  margin: 0;
  font-weight: 700;
  color: #7A7A85;
  font-size: 1.75rem;
  line-height: 1.4;
}
@media (min-width: 600px) {
  .domainName { font-size: 1.3118rem; }
}
@media (min-width: 960px) {
  .domainName { font-size: 1.4993rem; }
}

.infoIcon {
  user-select: none;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  fill: currentColor;
  transition: fill 200ms ease;
  color: #AFAFB6;
}
