.headWrapper {
  position: relative;
  background-color: #032E78;
  height: 148px;
  background-size: cover;
  background-position: center;
}
.headWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.24);
}
@media (min-width: 960px) { .headWrapper { height: 200px; } }

.headContainer {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1256px;
  height: 100%;
  z-index: 101;
}
.topHeader {
  position: absolute;
  top: 8px;
  right: 16px;
  display: flex;
  justify-content: space-between;
  z-index: 102;
}
@media (min-width: 600px) {
  .topHeader { width: calc(100% - 347px); }
}
