<div class="css-pmxvgw-searchContainer">
  <div class="css-uhxp3a-container" tabindex="1">
    <div class="css-1urva20-inputBase">
      <input type="search" id="search-input" placeholder="Search for domains" class="css-177xsqh-input">
      <div class="css-1cbgb7x-searchIconContainer">
        <svg class="css-19oq4lc-searchIcon" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27..."></path></svg>
      </div>
    </div>
  </div>
</div>
<div class="search-container">
  <div class="search-wrapper" tabindex="1">
    <div class="input-base">
      <input id="search-input" type="search" placeholder="Search for domains">
      <div class="search-icon-wrapper">
        <!-- Search icon SVG -->
      </div>
    </div>
  </div>
</div>
